:root{
    --default-font-color:#5F5F5F;
    --background-color: #E6E6E6;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    line-height: 1.8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--default-font-color);
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--default-font-color);
}
a:active{
    color: var(--default-font-color);
}
a:focus {
    outline: none;
}
a:hover{
    opacity: .5;
}

header{
    padding: 30px 0;
    text-align: center;
    background-color: var(--background-color);

}
header p{
    font-size: 1.3rem;
    font-weight: lighter;
}
header h1{
    font-size: 3.5rem;
    font-weight: lighter;
}
.main-section{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
h2{
    text-align: center;
}
.flex{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px 3%;
}
.waku{
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    border: 1px solid var(--default-font-color);
}
.gazo{
    position: absolute;
    background-color: var(--background-color);
    width: 230px;
    height: 230px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3{
    margin-top: 20px;
}
.item::before{
    content: "";
    display: block;
    width: 200px;
    order: 1;
}
.item::after{
    content: "";
    display: block;
    width: 200px;
    order: 0;
}
@media screen and (max-width: 960px){
    .waku{
        width: 200px;
        height: 200px;
    }
    .gazo{
        width: 190px;
        height: 190px;
    }
}
@media screen and (max-width: 429px){
    .main-section{
        width: 80%;
    }
    .waku{
        width: 140px;
        height: 140px;
    }
    .gazo{
        width: 135px;
        height: 135px;
    }
    .item{
        width: 140px;
    }
}